.menu ul{
  list-style:none;
	margin:0;
	padding:0;
}
.menu li{
	display:inline;
}
.menu a{
	display:block;
	padding-left:12px; /*SPACE FOR BACKGROUND*/
}
.menu .treeopen{
	background:url("../collapsed.png") left center no-repeat;
}

.menu .treeclosed{
	background:url("../expanded.png") left center no-repeat;
}
