.menu ul{
  list-style:none;
	margin:0;
	padding:0;
}
.menu li{
	display:inline;
}
.menu a{
	display:block;
	padding-left:12px; /*SPACE FOR BACKGROUND*/
}
.menu .treeopen{
	background:url("http://media.tumblr.com/tumblr_ljq7loYV2B1qawpbs.jpg") left center no-repeat;
}

.menu .treeclosed{
	background:url("http://t2ak.roblox.com/1a7f27beac9a8df44eaad1da50e0f1bf") left center no-repeat;
}
